:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #868e96;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

@font-face {
  font-family: poppins-light;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: poppins-regular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-medium;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppins-semi-bold;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: poppins-extra-bold;
  src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: poppins-black;
  src: url(../fonts/Poppins/Poppins-Black.ttf);
}

/* <!-- header ////////////////////////////////////////////////////////////////////// --> */

header {
  font-family: poppins-regular;
  width: 100%;
  height: 120px;
  /* background-color: red; */
  padding: 0 60px;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  > * {
    /* border: 1px solid black; */
    height: 100%;
  }
  > div {
    width: 25%;
    &:first-of-type {
      display: flex;
      align-items: center;
      justify-content: center;
      > h2 {
        color: black;
        /* border: 1px solid yellow; */
        font-size: 30px;
        font-weight: 900;
        font-family: poppins-medium;
      }
    }
    &:last-of-type {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 30px;

      > span {
        display: flex;
        gap: 40px;
        align-items: center;
        font-family: poppins-light;
        > i {
          font-size: 20px;
          font-weight: 900;
        }
      }
      > i {
        color: black;
        font-weight: 900;
        font-size: 20px;
      }
    }
  }
  > nav {
    width: 50%;
    > ul {
      /* background-color: pink; */
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      > li {
        /* border: 1px solid black; */
        position: relative;
        &:hover {
          > ul {
            height: 200px;
            visibility: visible;
          }
        }
        &:first-of-type {
          > a {
            color: var(--dark);
          }
        }
        > a {
          display: flex;
          height: 100%;
          align-items: center;
          font-family: poppins-semi-bold;
          text-transform: capitalize;
          color: var(--secondary);
          padding: 0 20px;
          font-size: 15px;
          transition: 0.4s;
          &:hover {
            color: var(--dark);
          }
        }
        > ul {
          position: absolute;
          top: 120px;
          width: 150%;
          left: 0;
          overflow: hidden;
          transition: 0.4s;
          height: 0;
          visibility: hidden;
          > li {
            height: 50px;
            background-color: var(--light);
            > a {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              width: 100%;
              font-family: poppins-semi-bold;
              font-weight: 900;
              color: var(--dark);
              transition: 0.4s;
              text-transform: capitalize;
              &:hover {
                background-color: var(--dark);
                color: var(--light);
              }
            }
          }
        }
      }
    }
  }
}
